.column {
    float: left;
    width: 33.33%;
    padding: 20px;

}

@media screen and (max-width:1000px) {
    .column {
        width: 100% !important;
    }
}


.heading-box {
  min-height: 130px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.heading {
    text-align: left;
    font-weight: bold;
}

.image-prev {
    height: 300px;
}

.image {
   height: 400px;
}

.figure {
    margin: 0.75em;
    padding: 0.15em;
    display: block;
    width: 30%;
    max-width: 512px;
    min-width: 200px;
}

.figure-inline {
    display: inline-block;
}

.figure-on-left {
    float: left;
}

.figure-on-right {
    float: right;
}

.figcaption {
    margin: 1em 0;
    font: italic smaller sans-serif;
    /*padding: 3px;*/
    text-align: center;
}

.figcaption .figcap-label {
  font-style: normal;
}

.title {
    text-align: center;
}

.img-thumbnail {
  max-width: 512px !important;
}

.figure .img-thumbnail {
  width: 100%;
}

.quoted-text {
  font-style: italic;
  padding: 0 30px 0 30px;
  background-color: #eff2f5;
}
