.column {
    float: left;
    width: 33.33%;
    padding: 20px;
    
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.heading {
    text-align: left;
    font-weight: bold;
}

.image-prev{
    height: 300px
}

.image{
   height: 400px
}

.figcaption {
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.title{
    text-align: center
}
